<div class="welcome-container">
    <div class="content">
      <div class="left-section">
        <h1>Tilkice</h1>
        <p>
          Tilkice, farklı sitelerden favorilediğin ürünler için sana bildirim sunar.
        </p>
      </div>
  
      <div class="right-section">
        <form class="login-form" (submit)="login()">
          <h2>Giriş Yap</h2>
          <input
            type="text"
            placeholder="Kullancı Adı"
            [(ngModel)]="username"
            name="username"
            required
          />
          <input type="password" [(ngModel)]="password" name="password" placeholder="Şifre" required />
          <button type="submit" class="login-button">Giriş Yap</button>
          <hr />
          <button class="create-account-button" (click)="goToRegister()">Yeni hesap oluştur</button>
        </form>
      
      </div>
    </div>
  </div>
  