<div class="welcome-container">
    <div class="content">
      <div class="left-section">
        <h1>notificationApp</h1>
        <p>
          NotificationApp farklı sitelerden favorilediğin ürünler için sana bildirim sunar.
        </p>
      </div>
  
      <div class="right-section">
        <form class="login-form">
          <input
            type="text"
            placeholder="username"
            required
          />
          <input type="password" placeholder="password" required />
          <button type="submit" class="login-button">Giriş Yap</button>
          <hr />
          <button class="create-account-button">Yeni hesap oluştur</button>
        </form>
      
      </div>
    </div>
  </div>
  