/* Ana kapsayıcı */
.welcome-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg,rgb(126, 125, 125),rgb(207, 207, 207));
  }
  
  /* İçerik kapsayıcısı */
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
  }
  
  /* Sol bölüm */
  .left-section {
    flex: 1;
    margin-right: 50px;
  }
  
  .left-section h1 {
    font-size: 3rem;
    color:rgb(43, 39, 42);
  
    margin-bottom: 20px;
  }
  
  .left-section p {
    font-size: 1.2rem;
    color:rgb(83, 74, 83);
    line-height: 1.5;
  }
  
  /* Sağ bölüm */
  .right-section {
    background: linear-gradient(135deg,rgb(100, 99, 99),rgb(42, 39, 48));
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  /* Form */
  .login-form {
    display: flex;
    flex-direction: column;
    
  }
  
  .login-form input {
    margin-bottom: 10px;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #dddfe2;
    border-radius: 6px;
  }
  
  .login-form input:focus {
    border-color: #1877f2;
    outline: none;
  }
  
  .login-button {
    background-color:rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 1rem;
    font-weight: 10px
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .login-button:hover {
    background-color:rgb(49, 48, 48);
    cursor: pointer;
  }
  
  .forgot-password {
    text-align: center;
    color: #1877f2;
    text-decoration: none;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #dddfe2;
    margin: 20px 0;
  }
  
  .create-account-button {
    background-color:rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .create-account-button:hover {
    background-color:rgb(90, 89, 90);
  }

  
