
h2{
  display: flex;
  justify-content: center;
}

.discounted-products ul.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.discounted-products li.product-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 400px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.discounted-products li.product-item:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.discounted-products .product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.discounted-products .product-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
}

.discounted-products .texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.discounted-products .original-price {
  text-decoration: line-through;
  color: gray;
  margin-right: 5px;
}

.discounted-products .discounted-price {
  color: green;
  font-weight: bold;
}

.discounted-products .normal-price {
  color: black;
}

.discounted-products .in-stock {
  color: green;
  font-weight: bold;
}

.discounted-products .out-of-stock {
  color: red;
  font-weight: bold;
}
