<div class="product-container">
    <h2>Ürünlerim</h2>
    <ul class="product-list">
      <li *ngFor="let product of products" class="product-item" >
        <div class="product-content">
          <div class="texts">
            <strong>Başlık:</strong> {{ product.title }}<br>
            <strong>Açıklama:</strong> {{ product.description }}<br>
            <strong>Bağlantı:</strong> 
            <a [attr.href]="product.link" target="_blank" rel="noopener noreferrer">
              {{ product.link }}
            </a>
          </div>
          <div class="actions">
            <button (click)="editProduct(product)">Update</button>
            <button (click)="deleteProduct(product.id)">Delete</button>
          </div>
        </div>
      </li>
    </ul>
  
    <div *ngIf="selectedProduct" class="update-form">
      <h3>Ürün Güncelle</h3>
      <form (ngSubmit)="onUpdate()">
        <label for="title">Başlık</label>
        <input type="text" id="title" [(ngModel)]="selectedProduct.title" name="title" />
  
        <label for="description">Açıklama</label>
        <input type="text" id="description" [(ngModel)]="selectedProduct.description" name="description" />
  
        <label for="link">Bağlantı</label>
        <input type="text" id="link" [(ngModel)]="selectedProduct.link" name="link" />
  
        <button type="submit">Kaydet</button>
        <button type="button" (click)="cancelEdit()">İptal</button>
      </form>
    </div>
  </div>
  