<div class="product-container">
    <h2>Ürünlerim</h2>
    <ul class="product-list">
      <li *ngFor="let product of products" class="product-item" >
        <div class="product-content" (click)="goToProduct(product.link)">
          
            <img [src]="product.imageUrl" alt="Product Image" class="product-image" />          
            
            <div class="texts">
            <strong>Ürün:</strong> {{ product.productName }}<br>
            
            <strong>Fiyat:</strong>
            <span *ngIf="product.originalPrice !== 'None'" class="original-price"> 
              {{ product.originalPrice }}
            </span>
            <span [ngClass]="{'discounted-price': product.originalPrice !== 'None', 'normal-price': product.originalPrice === 'None'}">
              {{ product.productPrice }}
            </span>
             <br>
            
            <strong>Stok Durumu:</strong>
            <span [ngClass]="{'in-stock': product.inStock === 'True', 'out-of-stock': product.inStock === 'False'}">
              {{ product.inStock === 'True' ? 'Stokta var' : 'Stokta yok' }}
            </span> <br>
         
          
          </div>
          <div class="actions" (click)="$event.stopPropagation()">
            <button (click)="deleteProduct(product.id)">Delete</button>
          </div>
          
        </div>
      </li>
    </ul>
  </div>
  