.product-container {
    margin: 20px auto;
    width: 100%;
    max-width: 900px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.product-container h2 {
    text-align: center;
    background-color: whitesmoke;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    background-color: whitesmoke;
    gap: 20px;
}

li {
    background-color: rgba(192, 192, 192, 0.1);
    border-radius: 10px;
    padding: 20px;
    width:100%;
    margin: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
strong{
    margin:6px;
    margin-bottom:14px;
}
.no-products-message{
  text-align: center;
  margin-top: 200px;
  font-size: 18px;
  color: #333;
}
.texts{
    border:30px;
    margin-left: 15px;
    margin-top: 60px;
}
.product-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    gap: 27px;
    transition: transform 0.2s ease;
 }

 .product-content:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  }
.actions {
    margin-left: auto;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: red;
}

.actions button:first-child {
    background-color: rgb(146, 17, 17);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

.actions button:first-child:hover {
    background-color: rgb(17, 146, 60);
}

.actions button:last-child {
    background-color:rgb(189, 27, 27);
    color: white;
}

.actions button:last-child:hover {
    background-color:rgb(172, 31, 31);
}


.in-stock {
    color: green;
    font-weight: bold;
  }
  
  .out-of-stock {
    color: red;
    font-weight: bold;
  }/* Eğer ürün indirimsizse (sadece tek fiyat gösterilecekse) */
.normal-price {
    color: black;
  }
  
  /* 🔥 Eğer ürün indirimliyse (yeşil renkte göster) */
  .discounted-price {
    color: green;
    font-weight: bold;
  }
  
  /* 🔥 Eğer indirimli ürün varsa, eski fiyatı üstü çizili göster */
  .original-price {
    text-decoration: line-through;
    color: gray;
    margin-right: 5px;
  }
  .product-image {
    width: 120px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: contain;
  }
  