/* Ana kapsayıcı düzen */
.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Üstteki navbar */
  .top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }
  
  .app-title {
    font-size: 1.5rem;
    font-weight: bold;
    color:rgb(17, 146, 60)
  }
  
  .spacer {
    flex: 1;
  }
  
  .user-section button {
    margin-left: 10px;
  }
  
  /* Sol navigasyon */
  .content-container {
    display: flex;
    flex: 1
  }
  .username {
    color: green;
  }
  
  .side-navbar {
    width: 300px;
    background: white;  
    padding-top: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
  .side-navbar a {
    color: black;
    font-weight: 500;
    text-decoration: none;
  }
  .list-item{
    margin: 15px;
  }
  .list-item:hover,
.list-item:active,
.list-item.router-link-active {
  background-color: #e0e0e0 !important; /* Hover ve Active rengi */
  border-radius: 0px !important; /* Köşeleri köşeli yap */
  box-shadow: none !important; /* Gölgeleri kaldır (eğer varsa) */
 /* border-left: 3px solid rgb(17, 146, 60); /* Aktif durumu için sol çizgi ekle */
}

.list-item {
  border-radius: 0px !important; /* Varsayılan durumda da köşeli kal */
}

  
  .active-link {
    color: #3f51b5;
    font-weight: bold;
  }
  .gradient-divider {
    height: 100%;
    width: 2px;
    background: linear-gradient(to bottom,rgb(119, 25, 129),rgb(221, 41, 176)); /* Gradient renkleri */
    margin: 0 auto; /* Kenarlardan biraz boşluk bırak */
    border-radius: 2px; /* Kenarları yuvarlat */
  }
  
  .router-container {
    flex: 1;
    padding: 16px;
  }
  