<div class="main-container">
  <mat-toolbar *ngIf="!isAuthRoute" color="primary" class="top-navbar">
    <span class="app-title">NotificationApp</span>
    <span class="spacer"></span>
    <div class="user-section">
      <button mat-button (click)="goToProfile()">{{ username }}</button>
      <button mat-button color="warn" (click)="logout()">Logout</button>
    </div>
  </mat-toolbar>

  <div class="content-container">
    <mat-nav-list *ngIf="!isAuthRoute" class="side-navbar">
      <a mat-list-item [routerLink]="['/homepage']" routerLink="active-link">Anasayfa</a>
      <a mat-list-item [routerLink]="['/addproduct']" routerLink="active-link">Ürün Ekle</a>
      <a mat-list-item [routerLink]="['/myproducts']" routerLink="active-link">Ürünlerim</a>
    </mat-nav-list>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>

 
</div>