<mat-nav-list class="main-category-bar">
  <div class="main-category-wrapper"
       *ngFor="let mainCat of mainCategories"
       (mouseenter)="hoveredCategory = mainCat.key"
       (mouseleave)="hoveredCategory = null">
    
    <a mat-list-item class="main-category-item">
      {{ mainCat.name }}
    </a>

    <mat-nav-list *ngIf="hoveredCategory === mainCat.key" class="sub-category-list">
      <a mat-list-item *ngFor="let sub of mainCat.values" (click)="selectCategory(sub)">
        {{ sub }}
      </a>
    </mat-nav-list>

  </div>
</mat-nav-list>


<div class="product-container">
  <h2 *ngIf="selectedCategory">Kategori: {{ selectedCategory }}</h2>
  <ul class="product-list">
    <li *ngFor="let product of filteredProducts" class="product-item">
      <div class="product-content" (click)="goToProduct(product.link)">
        <img [src]="product.imageUrl" alt="Product Image" class="product-image" />
    
        <div class="texts">
          <strong>Ürün:</strong> {{ product.productName }}<br>
    
          <strong>Fiyat:</strong>
          <span *ngIf="product.originalPrice !== 'None'" class="original-price">
            {{ product.originalPrice }}
          </span>
          <span [ngClass]="{'discounted-price': product.originalPrice !== 'None', 'normal-price': product.originalPrice === 'None'}">
            {{ product.productPrice }}
          </span><br>
    
          <strong>Stok Durumu:</strong>
          <span [ngClass]="{'in-stock': product.inStock === 'True', 'out-of-stock': product.inStock === 'False'}">
            {{ product.inStock === 'True' ? 'Stokta var' : 'Stokta yok' }}
          </span><br>
        </div>
      </div>
    </li>
    
  </ul>
</div>
