<div class="homepage-container">
    <h1>Hoş Geldiniz!</h1>
    <p>
      NotificationApp'e hoş geldiniz. Bu uygulama, kullanıcıların kolayca ürünlerini
      ekleyip yönetebildiği, güncelleyebildiği ve silebildiği bir platformdur.
    </p>
    <p>
      Ürünlerinizi eklemek için "Ürün Ekle" sekmesine tıklayın, mevcut ürünlerinizi
      görmek için "Ürünlerim" sekmesini kullanabilirsiniz.
    </p>
    <p>
      Eğer bir profiliniz yoksa, hemen kaydolun ve uygulamamızı keşfetmeye başlayın!
    </p>
  </div>
  